*.iml
.gradle
/local.properties
.DS_Store
/build
app/build
app/libs
/captures
.externalNativeBuild
.idea/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
proguard-rules.pro
nfltipapp-server/.idea
nfltipapp-server/bin
nfltipapp-server/node_modules